#site_title, .title {
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
  height: 75vh;
  filter: invert(100%);
}

.video_watch {
  height: 100%   !important;
  width: auto    !important;
}

@media(max-width: 30em) {
  .video_watch {
    height: auto   !important;
    width: 100%    !important;
  }
}

.video_description, .inject_text {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding-bottom: 0.5em;
}

img {
	filter: invert(100%);
	max-width: 50%;
}

.horul ul, .horul li {
	display: inline-block;
	text-align: center;
}

.preview_panel {
	background-color: rgba(244, 241, 242, 0.6);
}

.preview_panel img {
  border-radius: 2px;
}

.film {
  width: 15%;
  padding: 2em;
  outline: auto;
  margin: 2em;
  cursor: pointer;
}

.film img {
  width: 200%;
  max-width: 100%;
}

@media(max-width: 30em) {
  video {
    height: auto;
    width: 85vw;
  }

  body {
    font-size: 1.5em;
  }

  .film {
    width: auto !important;
    padding: 0 !important;
  }
}

body {
	filter: invert(100%);
}

@keyframes flash {
   0%, 50%, 100% {
      filter: invert(100%);
   }
   25%, 75% {
      filter: invert(0%);
   }
}

.error {
  background-color: red;
}

input {
  filter: invert(100%);
  padding: 0.4em;
  margin: 0.5em;
}
