#site_title, .title {
  text-align: center;
}

.title {
  cursor: pointer;
}

video {
  display: block;
  margin: 0 auto;
  height: 75vh;
  filter: invert(100%);
}

video:fullscreen {
  filter: invert(0%);
}

.video_watch {
  height: 100%   !important;
  width: auto    !important;
}

@media(max-width: 30em) {
  .video_watch {
    height: auto   !important;
    width: 100%    !important;
  }
}

.video_description, .inject_text {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding-bottom: 0.5em;
}

img {
  filter: invert(100%);
  max-width: 50%;
}

.horul ul, .horul li {
  display: inline-block;
  text-align: center;
}

.preview_panel {
  background-color: rgba(244, 241, 242, 0.6);
}

.preview_panel img {
  border-radius: 2px;
}

.film {
  width: 15%;
  padding: 2em;
  margin: 2em;
  cursor: pointer;
  outline-style: auto;
  outline-color: aquamarine;
}

.film:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: white;
  filter: invert(80%);
}

.film:hover img {
  filter: invert(0%);
}

.film img {
  width: 200%;
  max-width: 100%;
}

@media(max-width: 30em) {
  video {
    height: auto;
    width: 85vw;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 1.5em;
    position: absolute;
  }

  #app {
    overflow-x: hidden;
  }

  .film {
    display: block;
    width: 90% !important;
    padding: 0.1em !important;
    margin: 5% 5% !important;
  }

  button {
    font-size: 0.8em;
    margin: 1.3em;
  }

  input {
    display: block;
  }
  
  #nav button {
    display: block !important;
    margin: 0.5em auto !important;
  }
}

body {
  filter: invert(100%);
}

@keyframes flash {
   0%, 50%, 100% {
      filter: invert(100%);
   }
   25%, 75% {
      filter: invert(0%);
   }
}

.error {
  background-color: red;
}

input {
  filter: invert(100%);
  padding: 0.4em;
  margin: 0.5em;
}

#nav button {
  display: inline-block;
  color: black;
  background-color: white;
  box-shadow: 0 0 1px gray;
  margin: 0.1em;
  font-size: 1em !important;
  border-radius: 0.3em;
}

#nav button:hover {
  box-shadow: 0 0 8px gray;
  filter: invert(80%);
}

#nav button:active {
  box-shadow: 0 0 8px gray;
  filter: invert(90%);
}

@media(max-width: 30em) {
  #logout_button:first-of-type {
    margin-bottom: 2em !important;
  }
}

@media(min-width: 30em) {
  #logout_button:first-of-type {
    margin-right: 2em !important;
  }
}
